html,
body {
    margin: 0;
    padding: 0;
    background: #0d0d0d;
    color: white;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

.app-container {
    display: flex;
    flex-direction: row;
    padding-left: 20%;
    padding-right: 20%;
}

app-sidebar {
    width: 35%;
}

app-main-content {
    width: 65%;
}