.sidebar {
    width: 50%;
    /* Fija el ancho de la barra */
    height: 100vh;
    background: rgba(13, 13, 13, 0.9);
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-info {
    position: fixed;
    background-color: white;
    color: black;
    height: 640px !important;
    width: 340px !important;
    border-radius: 5%;

    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;

    /* Imagen principal */
    .about-image {
        width: 240px;
        height: 280px;
        background-image: url('../../../assets/profile-picture.jpg');
        background-size: cover;
        background-position: center;
        background-size: 220%;
        border-radius: 30px;
        box-shadow: 10px 10px 30px rgba(255, 255, 255, 0.1);
        position: relative;
        margin-top: 30px;
    }

    .name {
        width: 250px;
        font-size: 35px;
        font-weight: bolder;
        text-align: center;
        margin-top: 20px;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.1;
        font-weight: 600;
        max-width: 800px;
        text-align: center;
        margin-top: 60px;
        color: rgba(94, 93, 93, 0.76);
    }

    .icons {
        height: 100px;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        gap: 15px;

        .svgs {
            width: 30px !important;
            height: 30px !important;
            fill: #0d0d0d;
        }

        .svgs-linkedin:hover {
            fill: #0A66C2;
        }
    }
}